
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color:whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(97, 129, 188);  
}

.to-infinity {
    font-size: 36px;
}

.calc-container {
    background-color:rgb(131, 166, 232);
    padding: 2px;
}

.buttons {
    margin-top: 1.5px;
    display:flex;
    flex: 1;
    background-color: aliceblue;
    width: 500px;
    user-select: none;
}

.row-two, .row-three, .row-four, .row-five { 
    flex: 1;
    padding-left: 1px;
    background-color:rgb(131, 166, 232);
}

.row-one {
    flex: 1;
    background-color:rgb(131, 166, 232);
}

.key, .clear {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 110px;
    text-align: center;
    margin-top: 1px;
    font-size: 26px;
    padding: 1px;
    background-color: azure;
}

.go-back {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 110px;
    text-align: center;
    margin-top: 1px;
    font-size: 26px;
    padding: 1px;
    background-color: azure;
}

.equals {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 223px;
    text-align: center;
    margin-top: 1px;
    font-size: 26px;
    padding: 1px;
    background-color: azure;
}

.num-key {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 110px;
    text-align: center;
    margin-top: 1px;
    font-size: 26px;
    padding: 1px;
    background-color: azure;
}

/* .double-zero {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 110px;
    text-align: center;
    margin-top: 1px;
    font-size: 26px;
    padding: 1px;
    background-color: azure;
} */

.top-display {
    height: 50px;
    padding-top: 20px;
    background-color:aliceblue;
    flex: 1;
    padding-right: 30px;
}

.top-display-numbers {
    margin-right: 2px;
}

.display {
    display: flex;
    box-sizing: border-box;
    height: 200px;
    background-color: aliceblue;
    text-align: right;
    flex-direction: column;
    font-size: 50px;
    user-select: none;
}

.number-display {
    display: flex;
    height: 50px;
    flex-direction: column;
    background-color:aliceblue;
    flex: 1;
    padding-right: 30px;
}

.operator-display {
    font-size: 30px;
    text-align: right;
    justify-content: flex-end;
    display: flex;
    height: 50px;
    background-color:aliceblue;
    flex: 1;  
}

.number-display {
    justify-content: center;
}
